<div id="header"></div>

<div class="container pt-5 pb-5">
  <div class="row top-section01005 d-flex justify-content-between">
    <div class="col-md-6 d-flex justify-content-center flex-column">
      <f:image class="img-fluid" src="{f:uri.image(src: '/fileadmin/assets/images/53772124372_63fb659fee_c.jpg')}"
        alt="" />
    </div>

    <div class="col-md-6 d-flex the_right justify-content-center flex-column">
      <h2 class="heading-title-general heading2 mb-5">
        How to join rpf Inkotanyi
      </h2>

      <div>
        <p class="ttxt">
          Membership in FPR-Inkotanyi is open to any legally authorized
          Rwandan of at least eighteen (18) years of age, who adheres to its
          objectives, political program, and constitution irrespective of
          gender, ethnicity, place of origin, religion, economic status,
          etc.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pt-4 pb-5">
  <div class="row top-section01005 d-flex justify-content-between">
    <div class="col-md-6">
      <h2 class="heading-title-general heading2 mb-5">How To Vote?</h2>
      <div class="the_content">
        <p>
          Voting is an obligation to every Rwandan who fulfills the
          requirements as provided by the law.
        </p>
        <p>
          The voting should be conducted secretly, freely, and fairly for
          all eligible Rwandan nationals.
        </p>
        <p>
          It may be direct or indirect, depending on the specific conditions
          for each type of election.
        </p>
        <p>
          In elections where a ballot paper is used, a voter may cast
          his/her vote using their thumbprint or in writing.
        </p>
        <ul>
          <li>The voting is conducted in secret.</li>
          <li>
            A voter may cast their vote by placing their thumbprint in front
            of the candidate’s image on the ballot paper.
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <f:image class="img-fluid" src="{f:uri.image(src: '/fileadmin/assets/images/vote-box.png')}" alt="" />
    </div>
  </div>
</div>

<div id="footer"></div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>