<div id="header"></div>
<div class="campaign container pt-5">
  <div class="header-holder">
    <h2 class="heading-title-general">
      Presidentual campaign sites per district
    </h2>
    <div class="table-wrapper pb-5 pt-5">
      <table class="custom-table w-100">
        <tbody>
          <tr class="table-header">
            <th class="table-col header-item1">NO</th>
            <th class="table-col header-item2">District</th>
            <th class="table-col header-item3">Site Name</th>
            <th class="table-col header-item4">Compaign Day</th>
          </tr>

          <tr>
            <td class="table-col header-item1">1</td>
            <td class="header-item00 district-name">MUSANZE</td>
            <td class="header-item00">Busogo</td>
            <td class="header-item00">22-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">2</td>
            <td class="header-item00 district-name">RUBAVU</td>
            <td class="header-item00">Gisa</td>
            <td class="header-item00">23-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">3</td>
            <td class="header-item00 district-name">NGORORERO</td>
            <td class="header-item00">Ngororero Stadium</td>
            <td class="header-item00">24-06-2024</td>
          </tr>

          <tr>
            <td class="table-col header-item1">4</td>
            <td class="header-item00 district-name">MUHANGA</td>
            <td class="header-item00">Shyogwe</td>
            <td class="header-item00">22-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">5</td>
            <td class="header-item00 district-name">MUSANZE</td>
            <td class="header-item00">Busogo</td>
            <td class="header-item00">24-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">6</td>
            <td class="header-item00 district-name">NYARUGENGE</td>
            <td class="header-item00">Rugarama</td>
            <td class="header-item00">25-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">7</td>
            <td class="header-item00 district-name">HUYE</td>
            <td class="header-item00">Huye</td>
            <td class="header-item00">27-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">8</td>
            <td class="header-item00 district-name">NYAMAGABE</td>
            <td class="header-item00">Nyagisenyi</td>
            <td class="header-item00">27-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">9</td>
            <td class="header-item00 district-name">RUSIZI</td>
            <td class="header-item00">Rusizi Stadium</td>
            <td class="header-item00">28-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">10</td>
            <td class="header-item00 district-name">NYAMASHEKE</td>
            <td class="header-item00">Kagano Play ground</td>
            <td class="header-item00">29-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">11</td>
            <td class="header-item00 district-name">KARONGI</td>
            <td class="header-item00">Mbonwa</td>
            <td class="header-item00">30-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">12</td>
            <td class="header-item00 district-name">KIREHE</td>
            <td class="header-item00">Kirehe Gradens</td>
            <td class="header-item00">02-07-2024</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="campaign container pt-4 pb-5">
  <div class="header-holder">
    <h2 class="heading-title-general">
      Parliamentary campaign sites per district
    </h2>
    <div class="region pt-5">
      <h2>Kigali City</h2>
    </div>
    <div class="table-wrapper pb-4 pt-3">
      <table class="custom-table w-100">
        <tbody>
          <tr class="table-header">
            <th class="table-col header-item1">NO</th>
            <th class="table-col header-item2">District</th>
            <th class="table-col header-item3">Site Name</th>
            <th class="table-col header-item4">Compaign Day</th>
          </tr>

          <tr>
            <td class="table-col header-item1">1</td>
            <td class="header-item00 district-name">MUSANZE</td>
            <td class="header-item00">Busogo</td>
            <td class="header-item00">22-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">2</td>
            <td class="header-item00 district-name">RUBAVU</td>
            <td class="header-item00">Gisa</td>
            <td class="header-item00">23-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">3</td>
            <td class="header-item00 district-name">NGORORERO</td>
            <td class="header-item00">Ngororero Stadium</td>
            <td class="header-item00">24-06-2024</td>
          </tr>

          <tr>
            <td class="table-col header-item1">4</td>
            <td class="header-item00 district-name">MUHANGA</td>
            <td class="header-item00">Shyogwe</td>
            <td class="header-item00">22-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">5</td>
            <td class="header-item00 district-name">MUSANZE</td>
            <td class="header-item00">Busogo</td>
            <td class="header-item00">24-06-2024</td>
          </tr>
          <tr>
            <td class="table-col header-item1">6</td>
            <td class="header-item00 district-name">NYARUGENGE</td>
            <td class="header-item00">Rugarama</td>
            <td class="header-item00">25-06-2024</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="region pt-4">
    <h2>Eastern Province</h2>
  </div>
  <div class="table-wrapper pb-4 pt-3">
    <table class="custom-table w-100">
      <tbody>
        <tr class="table-header">
          <th class="table-col header-item1">NO</th>
          <th class="table-col header-item2">District</th>
          <th class="table-col header-item3">Site Name</th>
          <th class="table-col header-item4">Compaign Day</th>
        </tr>

        <tr>
          <td class="table-col header-item1">1</td>
          <td class="header-item00 district-name">MUSANZE</td>
          <td class="header-item00">Busogo</td>
          <td class="header-item00">22-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">2</td>
          <td class="header-item00 district-name">RUBAVU</td>
          <td class="header-item00">Gisa</td>
          <td class="header-item00">23-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">3</td>
          <td class="header-item00 district-name">NGORORERO</td>
          <td class="header-item00">Ngororero Stadium</td>
          <td class="header-item00">24-06-2024</td>
        </tr>

        <tr>
          <td class="table-col header-item1">4</td>
          <td class="header-item00 district-name">MUHANGA</td>
          <td class="header-item00">Shyogwe</td>
          <td class="header-item00">22-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">5</td>
          <td class="header-item00 district-name">MUSANZE</td>
          <td class="header-item00">Busogo</td>
          <td class="header-item00">24-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">6</td>
          <td class="header-item00 district-name">NYARUGENGE</td>
          <td class="header-item00">Rugarama</td>
          <td class="header-item00">25-06-2024</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="region pt-4">
    <h2>Western Province</h2>
  </div>
  <div class="table-wrapper pb-4 pt-3">
    <table class="custom-table w-100">
      <tbody>
        <tr class="table-header">
          <th class="table-col header-item1">NO</th>
          <th class="table-col header-item2">District</th>
          <th class="table-col header-item3">Site Name</th>
          <th class="table-col header-item4">Compaign Day</th>
        </tr>

        <tr>
          <td class="table-col header-item1">1</td>
          <td class="header-item00 district-name">MUSANZE</td>
          <td class="header-item00">Busogo</td>
          <td class="header-item00">22-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">2</td>
          <td class="header-item00 district-name">RUBAVU</td>
          <td class="header-item00">Gisa</td>
          <td class="header-item00">23-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">3</td>
          <td class="header-item00 district-name">NGORORERO</td>
          <td class="header-item00">Ngororero Stadium</td>
          <td class="header-item00">24-06-2024</td>
        </tr>

        <tr>
          <td class="table-col header-item1">4</td>
          <td class="header-item00 district-name">MUHANGA</td>
          <td class="header-item00">Shyogwe</td>
          <td class="header-item00">22-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">5</td>
          <td class="header-item00 district-name">MUSANZE</td>
          <td class="header-item00">Busogo</td>
          <td class="header-item00">24-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">6</td>
          <td class="header-item00 district-name">NYARUGENGE</td>
          <td class="header-item00">Rugarama</td>
          <td class="header-item00">25-06-2024</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="region pt-4">
    <h2>Southern Province</h2>
  </div>
  <div class="table-wrapper pb-4 pt-3">
    <table class="custom-table w-100">
      <tbody>
        <tr class="table-header">
          <th class="table-col header-item1">NO</th>
          <th class="table-col header-item2">District</th>
          <th class="table-col header-item3">Site Name</th>
          <th class="table-col header-item4">Compaign Day</th>
        </tr>

        <tr>
          <td class="table-col header-item1">1</td>
          <td class="header-item00 district-name">MUSANZE</td>
          <td class="header-item00">Busogo</td>
          <td class="header-item00">22-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">2</td>
          <td class="header-item00 district-name">RUBAVU</td>
          <td class="header-item00">Gisa</td>
          <td class="header-item00">23-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">3</td>
          <td class="header-item00 district-name">NGORORERO</td>
          <td class="header-item00">Ngororero Stadium</td>
          <td class="header-item00">24-06-2024</td>
        </tr>

        <tr>
          <td class="table-col header-item1">3</td>
          <td class="header-item00 district-name">MUHANGA</td>
          <td class="header-item00">Shyogwe</td>
          <td class="header-item00">22-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">5</td>
          <td class="header-item00 district-name">MUSANZE</td>
          <td class="header-item00">Busogo</td>
          <td class="header-item00">24-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">6</td>
          <td class="header-item00 district-name">NYARUGENGE</td>
          <td class="header-item00">Rugarama</td>
          <td class="header-item00">25-06-2024</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="region pt-4">
    <h2>Northern Province</h2>
  </div>
  <div class="table-wrapper pb-4 pt-3">
    <table class="custom-table w-100">
      <tbody>
        <tr class="table-header">
          <th class="table-col header-item1">NO</th>
          <th class="table-col header-item2">District</th>
          <th class="table-col header-item3">Site Name</th>
          <th class="table-col header-item4">Compaign Day</th>
        </tr>

        <tr>
          <td class="table-col header-item1">1</td>
          <td class="header-item00 district-name">MUSANZE</td>
          <td class="header-item00">Busogo</td>
          <td class="header-item00">22-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">2</td>
          <td class="header-item00 district-name">RUBAVU</td>
          <td class="header-item00">Gisa</td>
          <td class="header-item00">23-06-2024</td>
        </tr>
        <tr>
          <td class="table-col header-item1">3</td>
          <td class="header-item00 district-name">NGORORERO</td>
          <td class="header-item00">Ngororero Stadium</td>
          <td class="header-item00">24-06-2024</td>
        </tr>

        <tr>
          <td class="table-col header-item1">4</td>
          <td class="header-item00 district-name">MUHANGA</td>
          <td class="header-item00">Shyogwe</td>
          <td class="header-item00">22-06-2024</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="footer"></div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>