<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Structure</title>
    <link rel="icon" type="image/x-icon" href="../asset/images/favcon.png">
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="../../header-breadcramp/header-styles.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
  </head>
  </head>
  <body>
    <div id="header"></div>

    <div class="page-body container pt-5 pb-5">
       <div class="over-top-section">
        <f:image class="img-fluid" src="EXT:site_package/Resources/Public/asset/images/F45KStLWgAAlQUt.jpeg" alt="">
       </div>
       <div class="content003 pt-4">
         <h4 class="pt-4">The leadership structure of the RPF-INKOTANYI at national level is as follows:

         </h4>
         <p>
          – The Congress of the RPF-INKOTANYI;<br><br>

          - The national Political Bureau; <br><br>

          – National Executive Committee;
         </p>

       </div>
       <div class="content003 ">
        <h4 class="pt-4">I. Obligations of the RPF-INKOTANYI Congress

        </h4>
        <p>The main obligations of the RPF-INKOTANYI Congress are as follows:

        </p>
        <ol>
          <li> Approving RPF-INKOTANYI political line;

          </li>
          <li>Approving the budget of the RPF- INKOTANYI;I. Obligations of the RPF-INKOTANYI Congress</li>
            <li>
              Setting forth the action plan of the RPF- INKOTANYI;
            </li>
            <li>
              Approving the activity report and the report of resource allocation of the RPF- INKOTANYI;
            </li>
            <li>Evaluating and monitoring the activity and functioning of other levels of the RPF-INKOTANYI;</li>
            <li>

              Electing the Executive Committee, the Disciplinary Committee, and the Inspectorate at national level;


            </li>
            <li> Evaluating, approving, modifying or disapproving decisions made at other levels;</li>
            <li> Establishment of committees in charge of accessing and analyzing its activities;</li>
              <li> ElectingandapprovingRPF-INKOTANYI candidates nominated by the Political Bureau to campaign in elections at national level;

              </li>
              <li>Making decisions regarding the conduct of members at national level;</li>
                <li>Making decisions regarding reports of the Inspectorate;</li>
                  <li>Studying and approving collaboration with other political parties;</li>


        </ol>
        

       </div>
       <div class="content003">
        <h4 class="pt-4">II. Obligations of the RPF-INKOTANYI Political Bur</h4>
        <p>The main obligations of the RPF-INKOTANYI Political Bureau at national level are as follows:</p>
        
        <p>a) Evaluating the Political Programme, activities and functioning of the Executive Committee at Provincial/Kigali City level and at national level;

        </p>
        <p>b) Supervising the functioning and conduct of members;

        </p>
        <p>c) Making provisional resolutions for the RPF-INKOTANYI Chairpersons at national level and at Provincial/Kigali City level;

        </p>
        <p>d) Preparation of periodic action plans for the RPF-INKOTANYI;

        </p>
        <p>e) Evaluating the projected RPF- INKOTANYI budgets;

        </p>
        <p>f) Evaluating the report on allocation of resources of the RPF-INKOTANYI;

        </p>
        <p>
          g) Nominating RPF-INKOTANYI candidates to campaign for government administration positions;


        </p>
        <p>h) Evaluate, approve, modify or disapprove decisions made at subsidiary levels;

        </p>
        <p>i) Approving appointed members of the Executive Committee;

        </p>
        <p>
          j) Supervising the functioning of the RPF-INKOTANYI and establishing a Inspectorate to carry out this task;


        </p>
        <p>
          k) Receiving and evaluating reports of the RPF-INKOTANYI Inspectorate;


        </p>
        <p>
          1) Assuming the responsibilities of the RPF- INKOTANYI Congress when it is unable to convene;


        </p>

       
       </div>   


      
      <div class="content003">
        <h4 class="pt-4">III. Obligations of the RPF-INKOTANYI Executive Committees

        </h4>
        <p>The main obligations of the RPF-INKOTANYI Executive Committees at all levels are as follows:

        </p>
        <p>
          a) Implementation of the resolutions of the General Assembly, the Political Bureau, and the RPF-INKOTANYI Congress;


        </p>
        <p>b) Coordination of RPF-INKOTANYI activities at that level;

        </p>
        <p>c) Manage and evaluate the activities and functioning of its respective subsidiary-levels;

        </p>
        <p>d) Preparing action plans for the General Assembly, the Political Bureau and the Congress;

        </p>
        <p>e) Monitoring the performance of leaders at that level and making temporary decisions regarding those who do not fulfil their obligations;

        </p>
        <p>f) Appointing provisional replacements for those unable to carry on with their duties due to various reasons;

        </p>
        <p>
          g) Employing personnel;


        </p>
        <p>h) Preparing and presenting reports to the General Assembly, the Political Bureau, and the RPF-INKOTANYI Congress; Specifically, the National Executive Committee has to prepare the budget and reports on its implementation.

        </p>
      </div>
      <div class="content003">
        <h4 class="pt-4">The National Executive Committee has directorates known as RPF-INKOTANYI Commissions.

        </h4>
        <p>
          The leadership structure of the RPF-INKOTANYI from province/kigali city to village level:


        </p>
        <p>a) General Assembly;

        </p>
        <p>b) Executive Committee

        </p>
      </div>

      </div>
    
    

    <div id="footer"></div>

   

    <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"
  ></script>
  <script src="../main.js"></script>
  </body>
</html>
