<div class="welt-moebel">
    <f:for each="{files}" as="file">
        <figure class="teaserImage">
            <f:image image="{file}" height="{data.imageheight}" width="{data.imagewidth}" alt="{file.properties.alt}" title="{file.properties.title}"/>
            <f:if condition="{file.properties.description}">
                <figcaption>{file.properties.description}</figcaption>
            </f:if>
        </figure>
    </f:for>
    <div class="text clearfix">
        <div>
            <h3>{options.title}</h3>
            <f:format.raw>{options.description}</f:format.raw>
            <f:link.typolink parameter="{options.link}">mehr erfahren</f:link.typolink>
        </div>
    </div>
</div>